{% block display_widget %}
    {% spaceless %}
        <div style="margin-top: 5px;" class="{{ attr.class }}">{{ value|raw }}</div>
    {% endspaceless %}
{% endblock %}


{% block remote_entity_widget %}
    <script>
        $(function(){
            var $field = $('#{{ id }}');
            var $configs = {
            {% for key, opt in select2_options %}
                {{ key }}: '{{ opt }}',
            {% endfor %}
            };
            // custom configs
            $configs = $.extend($configs, {
                minimumInputLength: 3,
                ajax: {
                    url: "{{ search_url }}",
                    dataType: 'jsonp',
                    quietMillis: 100,
                    data: function (term, page) { // page is the one-based page number tracked by Select2
                        return {
                            q: term, //search term
                            page_limit: 10, // page size
                            page: page // page number
                        };
                    },
                    results: function (data, page) {
                        var more = (page * 10) < data.total; // whether or not there are more results available

                        // notice we return the value of more so Select2 knows if more results can be loaded
                        return {results: data.records, more: more};
                    }
                },
                initSelection: function (element, callback) {
                    // the input tag has a value attribute preloaded that points to a preselected movie's id
                    // this function resolves that id attribute to an object that select2 can render
                    // using its formatResult renderer - that way the movie name is shown preselected
                    var id = $(element).val();
                    if (id !== "") {
                        $.ajax("{{ current_url }}", {
                            data: {
                                current: id
                            },
                            dataType: "jsonp"
                        }).done(function (data) {
                            callback(data);
                        });
                    }
                }

            });

            $field.select2($configs);
            $('#s2id_{{ id }}').css('padding', '0');
        })
    </script>
    {{ block('form_widget') }}
    {#{{ block('genemu_jqueryselect2_hidden_row') }}#}
{% endblock %}
